
.link{
  background-color: $main-color;
  .section-space{
    @include section-space-p();
  }
}
.test{
  background-color: $white;
  .section-space{
    @include section-space-p();
  }
  color: white;
}
