@charset "UTF-8";
// 他ファイルに入らないその他すべてのmixin

@mixin flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@mixin bg {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
