@charset "UTF-8";

//共通
$black: #333333;
$white: #ffffff;

// ベース色
$main-color: #efa336;
$accent-color: #e65100;
$sober-color: #cccccc;

// ロゴ
$logo-color: #404040;
$logo-em-color: #e65100;

// 背景色
$bg-color1: #ffffff;
$bg-color2: #ffffff;
$bg-table-color: #ffecb3;
$bg-mv-color: #ffecb3;
$bg-footer-color: #333333;
$loading-bg: #f5700a;

// テキスト色
$text-color: #333333;
$text-white-color: #ffffff;
$text-sub-color: #666666;

// 透過度
$opacity: .6;

// マーカー
$marker-color: #ffff66;

// アイコン
$html5-color: #e44d26;
$wordpress-color: #0073aa;
$responsive-color: #ffd966;
